.discussions-box {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: white;
}

h1 {
  text-align: center;
  font-size: 16px;
}

.discussions-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Jersey 25", sans-serif;
}

.topic {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  margin: 10px;
  background-color: #7139b112;
  border-bottom: 3px solid #7139b1bd;
  cursor: pointer;
  border-radius: 10px;
}

.topic:hover {
  background-color: #7139b12b;
}

.topic-name {
  font-weight: 500;
}

@media screen and (max-width: 1300px) {
  .discussions-box {
    width: 100vw;
  }
}
