.post-page {
  width: 750px;
}

.images {
  position: relative;
  border: 1px solid rgba(177, 177, 177, 0.192);
  overflow: hidden;
  border-radius: 10px;
  min-height: 400px;
  max-height: 600px;
  width: 100%;
  cursor: pointer;
}

.blurred-image {
  width: 100%;
  min-height: 400px;
  max-height: 600px;
  filter: blur(80px) brightness(60%);
  -webkit-filter: blur(80px) brightness(60%);
  z-index: 0;
}

.main-image {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fullscreen-images {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  cursor: auto;
}

.fullscreen-blurred-image {
  min-height: 100vh;
  min-width: 140vw;
  margin: -50px;
  filter: blur(15px) brightness(60%);
  -webkit-filter: blur(15px) brightness(60%);
  z-index: 0;
}

.fullscreen-main-image {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
}

.exit-fullscreen {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0b0d0eb6;
  transition: 0.5s ease-in-out;
  padding: 13px;
  font-weight: bold;
  box-sizing: content-box;
  border-radius: 100%;
  cursor: pointer;
  z-index: 9999;
}

.exit-fullscreen path {
  stroke-width: 2.5px;
}

.exit-fullscreen:hover {
  background-color: #080808;
}

.post-box {
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
  margin-top: 5px;
  width: 750px;
}

.post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 85px auto auto auto;
  list-style-type: none;
  padding-left: 10px;
  color: white;
}

.topic-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topic-left {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 14px;
  color: rgb(192, 192, 192);
  margin-left: 5px;
}

.dot {
  font-size: 20px;
}

.post-owner {
  font-size: 14px;
  color: rgb(192, 192, 192);
  font-weight: bold;
}

.left-arrow {
  font-size: 26px;
  background-color: rgba(136, 136, 136, 0.151);
  border-radius: 50%;
  margin-right: 10px;
  padding: 3px;
  box-sizing: content-box;
  outline: none;
}

.left-arrow:hover {
  background-color: rgba(136, 136, 136, 0.267);
  cursor: pointer;
}

.topic-box p {
  font-weight: bold;
}

.topic-name:hover {
  color: #7face0;
  cursor: pointer;
}

.post-owner:hover {
  color: #7face0;
  cursor: pointer;
}

.topic-box span {
  font-weight: 300;
  font-size: 12px;
}

.more-options {
  color: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  box-sizing: content-box;
}

.more-options:hover {
  background-color: rgba(136, 136, 136, 0.267);
}

.topic-right {
  position: relative;
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  z-index: 99;
}

.edit-button,
.delete-button {
  display: flex;
  align-items: center;
  width: 220px;
  padding-left: 20px;
  background-color: #1b2024;
  cursor: pointer;
}

.edit-button p,
.delete-button p {
  padding-left: 15px;
  font-weight: 400;
  font-size: 14px;
}

.edit-button {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.delete-button {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #252c31;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.post-text {
  color: #9ab0b6;
  margin-left: 5px;
}

.interact {
  display: flex;
  margin-top: 20px;
}

.interact-box {
  display: flex;
  background-color: #363f44c5;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
}

.interact-box span {
  margin: 0px 5px;
}

.interact-box svg {
  font-size: 32px;
  padding: 5px;
}

.comments-link {
  padding: 0 5px;
}

.vote-button {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 1px;
  stroke-linejoin: bevel;
  z-index: 9998;
}

.upvote:hover {
  stroke: rgb(255, 8, 0);
  cursor: pointer;
  border-radius: 50%;
  background-color: #363f44;
}

.downvote:hover {
  stroke: rgb(78, 67, 230);
  cursor: pointer;
  border-radius: 50%;
  background-color: #363f44;
}

.upvoted {
  fill: white;
}

.downvoted {
  fill: white;
}

.upvote-active {
  background-color: rgb(255, 8, 0);
}

.downvote-active {
  background-color: rgb(78, 67, 230);
}

.upvote-active .downvote:hover,
.upvote-active .upvote:hover,
.downvote-active .upvote:hover,
.downvote-active .downvote:hover {
  stroke: rgb(255, 255, 255);
  background-color: transparent;
}

.comments-link:hover {
  cursor: pointer;
  background-color: #363f44;
}

.comments-link:hover {
  cursor: pointer;
  background-color: #363f44;
}

.comment-input-container {
  display: flex;
  flex-direction: column;
}

.comment-field {
  width: 750px;
  border: 1px solid rgba(218, 217, 217, 0.205);
  outline: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: none;
  caret-color: white;
  color: white;
  resize: vertical;
  min-height: 30px;
}

.comment-field-active {
  padding-top: 20px;
  height: 100px;
  border: 1px solid rgba(218, 217, 217, 0.699);
}

.comment-field-invalid {
  border: 2px solid red;
}

.comment-error {
  color: red;
  font-weight: 400;
  font-size: 12px;
  margin-left: 25px;
}

.input-container {
  width: 750px;
  display: flex;
  position: relative;
  align-self: center;
  outline: none;
}

.input-label {
  position: absolute;
  top: 22px;
  left: 25px;
  color: #9ab0b6;
  pointer-events: none;
  font-size: 14px;
}

.cancel-button,
.comment-button {
  position: absolute;
  bottom: 7px;
  right: 15px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: white;
}

.cancel-button {
  right: 100px;
  background-color: #414b5081;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #4e595e81;
}

.comment-button {
  background-color: #4b555a;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #727b81;
}

.comment-button-disabled {
  background-color: #414b5081;
  opacity: 20%;
  cursor: auto;
}

.comment-delete-button {
  margin-left: 5px;
  cursor: pointer;
  box-sizing: content-box;
  padding: 5px 7px;
  border-radius: 30%;
}

.comment-delete-button:hover {
  background-color: #363f44c5;
}

.comment-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 750px;
}

.comment {
  margin: 10px 30px;
}

.comment-info {
  display: flex;
  align-items: center;
}

.comment-info svg,
.comment-info span {
  color: rgb(192, 192, 192);
}

.comment-info span {
  font-size: 12px;
  font-weight: 300;
}

.comment-info p {
  font-weight: bold;
  margin: 0;
  font-size: 15px;
}

.comment-text {
  border-left: 1px solid rgba(218, 217, 217, 0.205);
  padding: 10px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}

.no-comments {
  display: flex;
  margin: 50px;
}

.icon-container {
  border: 3px solid;
  width: 55px;
  height: 55px;
  margin: auto;
  margin-right: 30px;
  border-radius: 50%;
  border-bottom-right-radius: 20%;
}

.no-comments-text h1 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

.no-comments-text h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #a7b2b9;
}

@media screen and (max-width: 850px) {
  .post-page {
    width: 100vw;
    padding: 0px;
  }

  .post-box {
    width: 100vw;
    padding: 0px;
  }

  .topic-left {
    margin-right: 10px;
  }

  .options {
    max-width: 100vw;
  }

  .images {
    width: 100vw;
    border-radius: 0px;
  }

  .blurred-image {
    max-width: 100vw;
  }

  .main-image {
    height: auto;
    max-width: 100vw;
  }

  .fullscreen-images {
    height: 100vh;
    width: 100vw;
  }

  .fullscreen-images ~ html,
  body {
    height: 100%;
    overflow: hidden;
  }

  .fullscreen-blurred-image {
    min-height: 120vh;
    min-width: 120vw;
    filter: blur(15px) brightness(60%);
    -webkit-filter: blur(15px) brightness(60%);
    z-index: 0;
  }

  .fullscreen-main-image {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    min-height: 0;
    max-height: 100vh;
    max-width: 100vw;
  }

  .topic-box {
    max-width: 100vw;
    margin-left: 15px;
  }

  .post-box h2 {
    max-width: 100vw;
    padding-left: 10px;
    padding-right: 5px;
  }

  .post-box p {
    max-width: 100vw;
  }

  .post-text {
    margin-left: 10px;
    margin-right: 10px;
  }

  .interact {
    max-width: 100vw;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .input-container {
    width: 90vw;
    max-width: 90vw;
    overflow: hidden;
  }

  .comment-field {
    width: 90vw;
  }

  .comment-section {
    max-width: 100vw;
  }

  .comment-delete-button {
    min-width: 15px;
    min-height: 15px;
  }

  .no-comments {
    margin: 20px auto;
  }

  .icon-container {
    min-width: 55px;
    margin-left: 10px;
  }

  .no-comments-text {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 250px) {
  .topic-name,
  .topic-dot {
    display: none;
  }

  .comment-button,
  .cancel-button {
    padding: 8px;
    margin: 0;
  }

  .cancel-button {
    right: 90px;
  }
}
